{% extends 'aws/base.html' %}
         {% load staticfiles %}
        {% block body_block %}




        <div class="row-fluid sortable ui-sortable">
				<div class="box span12">
					<div class="box-header" data-original-title="">
						<h2><i class="halflings-icon edit"></i><span class="break"></span>Settings</h2>

					</div>
					<div class="box-content">
                        {% if hata %}
                        <div class="alert alert-danger"><strong>{{ hata }}</strong><br>
                        </div>
                        {% endif %}
						<form class="form-horizontal" class="form-horizantal" method="post" action="/aws/profile/" >
                            {% csrf_token %}
							<fieldset>
                                <input type="hidden" name="userid" value='{{ user.id }}' />
							  <div class="control-group">
								<label class="control-label" for="focusedInput">AWS KEY</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="awskey" type="text" name="awskey" value="{{ awskey }}">
								</div>
							  </div>
                              <div class="control-group">
								<label class="control-label" for="focusedInput">AWS SECRET KEY</label>
								<div class="controls">
								  <input class="input-xlarge focused" id="awssecret" type="text" name="awssecret" value="{{ awssecret }}">
								</div>
							  </div>





							  <div class="form-actions">
								<button type="submit" class="btn btn-info">Save changes</button>
								<button class="btn">Cancel</button>
							  </div>
							</fieldset>
						  </form>





					</div>
				</div>



			</div>







        {% endblock %}
